* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
  background-color: #f1f1f1;
  text-align: center;
  overflow: hidden;
  height: 10vh;
}

.mainHeader {
  text-align: center;
  overflow: hidden;
  font-size: 2.5em;
  line-height: 1.1;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.read-the-docs {
  color: #888;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 10em;
  height: 100%;
  width: 100%;
}

.column {
  display: inline-block;
  /* width: 50%; */
  height: 100%;
}

.rightColumnBox {
  /* border: 1px solid black; */
  /* width: 100%; */
  height: 30%;
  padding-bottom: 60px;
  /* overflow: auto; */
  /* padding-left: 10em; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.leftColumnBox {
  display: free;
  /* border: 1px solid black; */
  width: 100%;
  height: 70%;
}

.draggableBox{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: rgba(95, 108, 121, 0.916); */
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.targetBox {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: rgba(177, 205, 231, 0.916); */
  transition: border-color 0.25s;
  color: rgb(17, 1, 1);
  width: 100%;
  height: 100%;
}

.modeButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.controlButtons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left:15%;
  padding-right:15%;
}

.trainingButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.titleLeftImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:5em;
  padding-left:5em;
  filter:opacity(0.8);
}

.titleRightImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right:10em;
  filter:opacity(0.5);
}

.smallHeaderBox {
  box-shadow: 0 5px 2px -2px rgba(59, 60, 53, 0.916);
  background-color: #3b3c3533;
  border-radius: 8px;
}

.customTable {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
  font-size: 0.8rem;
}