:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme:light dark;
  color: rgba(59, 60, 53, 0.916);
  /* background-color: #fdf6dae6; */
  /* background-color: #f9f9f9e6; */
  background-color: #AAA492;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* Two following lines commented out to allow the two columns layout */
  /* display: flex;   */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  /* position: absolute; */
  /* top: 55px;
  left: 50%;
  transform: translateX(-50%); */
}

button {
  margin: 3px;
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: rgba(14, 59, 99, 0.916);; */
  background-color: rgba(59, 60, 53, 0.916);
  box-shadow: 0 5px 5px -3px black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #b6ad85;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

