/* Adapted from React-Node-Flow: https://github.com/kumarabhishek008/React-Node-Flow/tree/master */
.tree_containerAI {
    display: block;
    justify-content: center;
    align-items: top;
    height: 90%;
    width:100%;
    /* max-width: 100%; */
    overflow-x: auto;
    overflow-y: auto; 
}

.tree_containerManual {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 90%;
    width:100%;
    /* max-width: 100%; */
    overflow-x: auto;
    overflow-y: auto; 
}

.tree {
    width: max-content;
    height:auto;
    display:block;
    /* overflow-x: auto;
    overflow-y: auto;  */
}

.tree ul {
    padding-top: 20px; position: relative;
    white-space: nowrap;
}

.tree li {
    float: left; 
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 50px 5px 0 0.2vh;
}

.tree li.highlight {
    background-color: green;
    color:white;
}

/* horizontal lines above elements in tree */
.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #847f72;
    width: 50%; height: 40px;
}
.tree li::after{
    /* Add text for child on the right here */
    content:'Oui';
    text-align:left;
    padding-left: 20px;
    padding-top: 10px;
    right: auto; left: 50%;
    border-left: 1px solid #847f72;
}
.tree li::before{
    /* Add text for child on the left here */
    content:'Non';
    text-align:right;
    padding-right:20px;
    padding-top: 10px;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child{ padding-top: 0;}

.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
.tree li:last-child::before{
    content: '';
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    border-right: 1px solid #847f72;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    /* Add text for child on the left here */
    content: '';
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px 0 0 0;
}
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #847f72;
    width: 0; height: 20px;
}
.tree li div{
    border: 2px solid #847f72;
    padding: 5px 0px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 20px;
    display: inline-block;
    height: 5.5vw;
    width: 8vw;
    border-radius: 10px;
}

/* ul, ul::before, li, li::before, li::after {
    width: var(--scale-factor);
    height: var(--scale-factor);
} */

  