/* Adapted from React-Node-Flow: https://github.com/kumarabhishek008/React-Node-Flow/tree/master */
.tree {
    
}

.tree ul {
    padding-top: 20px; position: relative;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 50px 5px 0 5px;
}

/* horizontal lines above elements in tree */
.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 40px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}
.tree li::before{
    content:'';
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child{ padding-top: 0;}

.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
.tree li:last-child::before{
    /* Add text for child on the right here */
    content: 'Yes';
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    /* Add text for child on the left here */
    content: 'No';
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px 0 0 0;
}
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}
.tree li div{
    border: 3px solid #ccc;
    padding: 5px 60px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 20px;
    display: inline-block;
    border-radius: 10px;
}